<div class="neoland-box-bg"></div>
<%- layout('layouts/main.ejs') %> 
<div>
    <div class="col-md-4 offset-md-4">
        <div class="card mt-5 text-center rounded animate__animated animate__fadeIn">
            <div class="card-header">
                <h3>Perfil</h3>
            </div>
            <div class="card-body">
                <h3 class="p-2"><%= user.name %> <%= user.lastname %></h3> 
                <div class="row pt-3">
                    <div class="col">
                        <button class="btn btn-primary w-100 rounded" data-toggle="modal" data-target=".bd-example-modal-sm">Editar perfil</button>
                    </div>
                    <div class="col">
                        <a class="btn btn-danger w-100 rounded" href="/logout">Cerrar sesion</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content rounded">
        <div class="card-body p-5">
            <h3 class="mb-4 text-center">Actualiza tu perfil</h3>
            <form action="/profile/update" method="POST" class="d-grid gap-2">
                <div class="form-group">
                    <input class="form-control" type="email" name="email" placeholder="Correo Electronico" value=<%= user.email %>>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="name" placeholder="Nombre" value=<%= user.name %>>
                </div>
                <div class="row mt-4">
                    <div class="col">
                        <button class="btn btn-primary w-100 rounded" data-dismiss="modal">Volver</button>
                    </div>
                    <div class="col">
                        <button class="btn btn-danger w-100 rounded" type="submit">Actualizar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
  </div>
</div>